### Below combination will ignore all files without extension ###
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore the following files without extension
!*file

# Unignore all dirs
!*/
# Ignore the following dirs
**/bin
**/obj
**/build